*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a{
    text-transform: uppercase;
    text-decoration: none;
    background: white;
    padding: 10px 15px;
    display: block;
    border: 2px solid black;
    letter-spacing: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

a span{
    font-size: 20px;
    color: white;
    mix-blend-mode: difference;
}

a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    animation: animate 4s linear infinite;
}

@keyframes animate{
    0%{
        transform-origin: left;
        transform: scaleX(0);
    }

    50%{
        transform-origin: left;
        transform: scaleX(1);
    }

    51%{
        transform-origin: right;
        transform: scaleX(1);
    }

    100%{
        transform-origin: right;
        transform: scaleX(0);
    }
}
